@if (isLoading()){
  <app-loading [fullscreen]="true"></app-loading>
}
@else {
<div class="mat-elevation-z8 page-container"> 
    <div class="table-container mat-elevation-z8">
<div class="filter-row">
  <mat-form-field appearance="outline">
   <mat-label>Host</mat-label>
    <mat-select [(ngModel)]="hostFilter">
      <mat-option [value]="''">Select Host</mat-option>
      @for (host of hosts();track host.id){
        <mat-option [value]="host.id">{{host.fullName}}</mat-option>
      }
      
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
     <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="nameFilter" placeholder="Filter by name">
  </mat-form-field>

  <mat-form-field appearance="outline" floatLabel="always">
     <mat-label>Location</mat-label>
    <input matInput [(ngModel)]="locationFilter" placeholder="Filter by location">
  </mat-form-field>

<mat-form-field appearance="outline">
   <mat-label>Status</mat-label>
    <mat-select [(ngModel)]="statusFilter">
      <mat-option [value]="''">Select Status</mat-option>
      <mat-option value="0">Inactive</mat-option>
      <mat-option value="1">Active</mat-option>
    </mat-select>
  </mat-form-field>

   <button matButton="filled" mat-raised-button color="primary" (click)="applyFilters()" class="mr-1">Apply Filters</button>
   <button matButton="filled" mat-raised-button color="primary" (click)="resetFilters()" class="mr-1">Reset Filters</button>
   <button matButton="filled" mat-raised-button color="primary" (click)="createProperty()" class="mr-1">Add Property</button>

</div>

  <table mat-table [dataSource]="dataSource" matSort class="full-width-table">

    <!-- ID Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let property">{{ property.id }}</td>
    </ng-container>

     <!-- Host -->
    <ng-container matColumnDef="host">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Host</th>
      <td mat-cell *matCellDef="let property">{{ property.host.fullName}}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
      <td mat-cell *matCellDef="let property">{{ property.name }}</td>
    </ng-container>

    <!-- Location Column -->
    <ng-container matColumnDef="location">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Location</th>
      <td mat-cell *matCellDef="let property">{{ property.location }}</td>
    </ng-container>

     <!-- Status Column -->
    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Status</th>
      <td mat-cell *matCellDef="let property">{{ property.status === 0 ? 'Inactive':'Active' }}</td>
    </ng-container>

      <!-- PricePerNight Column -->
    <ng-container matColumnDef="pricePerNight">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Price per Night</th>
      <td mat-cell *matCellDef="let property">{{ property.pricePerNight | currency:'USD'}}</td>
    </ng-container>

     <!-- CreatedAt Column -->
    <ng-container matColumnDef="createdAt">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>Created</th>
      <td mat-cell *matCellDef="let property">{{ property.createdAt | date:'dd-MMM-yyyy hh:mm aa' }}</td>
    </ng-container>

   <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let property">
        <button matButton="filled" mat-raised-button color="primary" (click)="editProperty(property.id)" class="mr-1">Edit</button>
        <button matButton="filled" mat-raised-button color="warn" (click)="deleteProperty(property.id)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>

 <mat-paginator
  [length]="totalItems"
  [pageSize]="pageSize"
  [pageIndex]="pageNumber - 1"
  [pageSizeOptions]="[5, 10, 25]"
  (page)="onPageChange($event)">
</mat-paginator>

</div>
}
